.verticalAlign {
    cursor: pointer;
       padding: 0px 4px !important;
   }
   .slds-dropdown {
       padding:0px !important;
   }
   .recordListBox {
    margin-top:0px !important;
    overflow-y: scroll;
   }
   .slds-listbox li {
       padding: .25rem 0.5rem !important;
       display: flex;
   }
   .inputBox input {
    padding-left: 10px;
   }
   .eachItem:hover {
       background-color: #F1F1F1;
       cursor: pointer;
   }
    
   /* For Scrolling */
   ::-webkit-scrollbar {
       width: 7px;
       height: 7px;
   }
   ::-webkit-scrollbar-track {
      display: none !important;
   }
   ::-webkit-scrollbar-thumb {
       border-radius: 10px;
       background: rgba(0,0,0,0.4);
   }
   .slds-dropdown_fluid{
       margin-top: 0px;
   }


   .c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px;
    padding: 1rem;
}

.custom-box {
    text-align: center;
    background-color: #f4f6f9;
    padding: 1rem;
    border: 1px solid #d8dde6;
}